body {
	font-family: sans-serif;	
	background-image: url(b7.jpg);
	background-repeat: no-repeat;
	overflow: hidden;
	background-size:cover;
    /*background-position: center;*/
    
}


.container {
	width:900px;
    margin-top: 40px;
    margin-left: 400px;
	border-radius: 25px;
	background-color: rgba(0,0,0,0.1);
	box-shadow: 0 0 17px #333;
}


/*.multiline {
  white-space: pre-wrap;
}
*/

.main {
	text-align: center;
}

.why {
    font-size: 1rem;
    line-height: 1.5em;
      margin-left:10px;
        resize: none;
    margin-right: 40px;
    margin-top: 10px;
     outline: none;
    resize: none;
background-color:gainsboro;
}



.main input, button {
    
	width: 250px;
	height: 40px;
	border:none;
	outline: none;
	padding-left: 40px;
	box-sizing: border-box;
	font-size: 15px;
	color: #333;
	margin-bottom: 40px;
    
}

.p1{
    margin-left:10px;
    margin-right: 40px;
    margin-top: 10px;
    background-color:gainsboro;
}
.main button {
	padding-left: 0;

	letter-spacing: 1px;
	font-weight: bold;
	margin-bottom: 70px;
}

.main button:hover {
	box-shadow: 2px 2px 5px #555;
	
}
.main input:hover {
	box-shadow: 2px 2px 5px #555;
	background-color: #ddd;
}

.main span {
	position: relative;
}

.main i {
	position: absolute;
	left: 15px;
	color: #333;
	font-size: 16px;
	top: 2px;
}

.main{
    overflow: hidden;
}

.all {
    display: flex;
}

.s {
    flex: 1;
}  

.l{
    font-weight: bold;
     font-size: 20px;
   
}

.pr{
   
    margin-right: 100px;
    
}

.apbutton{
 	background-color: lightgreen;
    margin-right: 30px;
}

.dbutton{
    background-color:crimson;
    margin-left: 30px;
    color:wheat;
}

 